.app-container{
  display: flex;
}
.content{
  width: 100%;
}

.sidebar{
  height: 70rem;
}

.create-post{
  width: 75%;
  margin: 25px;
}

.Post-card{
  margin: 20px 40px;
}

.tag-span{
  margin: 1px 3px;
}